{% load static %}

<!DOCTYPE html>
<html lang="en" style="font-family:sans-serif; padding: 50px 80px;">
    <h1 style="text-align: center;"><span style="font-weight: 400; color: #ffcc00;"><strong>AGUNG MUBARAK</strong></span></h1>
    <p>&nbsp;</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="{% static 'images/profileedit.jpg' %}" alt="Foto"  width="320" height="520" /></p>
    <p>&nbsp;</p>
    <blockquote>
    <h2 style="text-align: center;"><span style="color: #99cc00;"><strong>NPM</strong></span></h2>
    <h3 style="text-align: center;"><span style="color: #cc99ff;"><strong>1906398995</strong></span></h3>
    <p>&nbsp;</p>
    </blockquote>
    <h2 style="text-align: center;"><span style="color: #99cc00;">ANGKATAN</span></h2>
    <h3 style="text-align: center;"><span style="font-weight: 400;"><strong><span style="color: #cc99ff;">Maung</span></strong> (2019)</span></h3>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h2 style="text-align: center;"><span style="color: #99cc00;">HOBI</span></h2>
    <h3 style="text-align: center;"><span style="font-weight: 400;">Menonton <span style="color: #993300;"><strong>Youtube</strong></span></span></h3>
    <p style="text-align: center;">&nbsp;</p>
    <h2 style="text-align: center;"><span style="color: #99cc00;">DESKRIPSI</span></h2>
    <p style="text-align: center;">Seorang petualang ilmu yang sedang mencicipi manis pahitnya kehidupan dan suka berkelalang buana dalam dunia pemikiran sendiri</p>
    <p style="text-align: center;">sebagai <strong><span style="color: #cc99ff;">INTJ</span></strong>, kadang disebut ensektrik.</p>
    <p style="text-align: center;"><span style="font-weight: 400;">Saya sedang menempuh pendidikan program prodi sarjana <span style="color: #cc99ff;"><strong>Sistem Informasi<span style="color: #000000;">.</span></strong></span></span></p>
    <p style="text-align: center;">Saya juga seorang game designer yang tergabung dalam <span style="color: #cc99ff;"><strong>Gamedev RISTEK</strong> </span>Fasilkom UI.</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h2 style="text-align: center;"><span style="color: #99cc00;">TEMPAT KULIAH</span></h2>
    <h3 style="text-align: center;"><span style="font-weight: 400;">Fakultas Ilmu Komputer <span style="color: #ffcc00;"><strong>UI</strong></span></span></h3>
    <p style="text-align: center;">&nbsp;</p>
    <h2 style="text-align: center;"><span style="color: #99cc00;">RIWAYAT PENDIDIKAN</span></h2>
    <h3 style="text-align: center;"><span style="font-weight: 400;"><span style="color: #cc99ff;"><strong>SDN</strong></span> 02 Aur Kuning Bukittinggi</span></h3>
    <h3 style="text-align: center;"><span style="font-weight: 400;"><span style="color: #cc99ff;"><strong>MTS</strong></span> Sumatera Thawalib Parabek</span></h3>
    <h3 style="text-align: center;"><span style="font-weight: 400;"><span style="color: #cc99ff;"><strong>MA</strong></span> Sumatera Thawalib Parabek</span></h3>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><span style="color: #ffcc00;"><strong>Contact me<span style="color: #ff00ff;">!</span></strong></span></p>
    <p style="text-align: center;"><a title="Instagram" href="https://www.instagram.com/agungmubarakpeto/"><span style="font-weight: 400;"><img src="{% static 'images/instagramlogo2.png' %}" alt="Foto" width="91" height="88" /></span></a></p>
</html>